@model IPagedList<OfficeHour>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using System.Linq;
@inject UserManager<ApplicationUser> userManager;

@{
    var currentUser = await userManager.GetUserAsync(User) ?? null;
    var staffName = TempData["staffName"];
    ViewData["Title"] = staffName + " Office Hours";
}

<div class="row row-cols-1 justify-content-md-center">
    <div class="col col-md-10 offset-1">
        <h3>Office Hours</h3>
        @if(TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>@TempData["Error"]</b></span>
            </div>
        }
        <div class="row row-cols-1">
            <div class="col">
                <table class="table">
                    <thead style="text-align: center;">
                        <th>
                            Day
                        </th>
                        <th>
                            Start Hour
                        </th>
                        <th>
                            End Hour
                        </th>
                        @if(currentUser.UserName.Equals(staffName))
                        {
                            <th>
                                Actions
                            </th>
                        }
                    </thead>
                    @foreach (var officeHour in Model)
                    {
                        <tr style="text-align: center;">
                            <td>
                                @Html.DisplayFor(modelItem => officeHour.Day)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => officeHour.StartHour)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => officeHour.EndHour)
                            </td>
                            <td>
                                @if(currentUser.UserName.Equals(staffName))
                                {                                   
                                    @Html.ActionLink("Delete", "Delete", new{ Id = officeHour.Id })
                                }
                            </td>
                        </tr>
                    }
                </table>
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("Index", 
                    new { page=page, staffName=staffName}))
                
                @if(currentUser.UserName.Equals(staffName))
                {                                   
                    @Html.ActionLink("Create", "Create", new { staffName = currentUser.UserName}, new { @class="btn btn-outline-success float-right"})
                }
                
            </div>
            <br/>
        </div>
    </div>
</div>